//
// Dashboard app
// --------------------------------------------------


// Global (uiframework)
// -------------------------

@import "normalize";
@import "variables";
@import "mixins";
@import "components";
@import "scaffolding";
@import "helpers";


// App partials
// -------------------------

// Import OAuth specific rules
@import "authmaker/footer";
@import "authmaker/header";
@import "authmaker/password";
@import "authmaker/social";

.margin0 {
  margin:0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-grow {
  flex: 1 0 auto;
}

.flex-column {
  flex-direction: column;
}
