<div class="frame">
  <div class="oauth-scopes-nav">
    <ul class="nav-tabs nav-justified text-center">
      <li class="complete">
        {{#link-to "plans"}}
          <i class="fa fa-check fa-2x"></i>
          <h4 class="spacing-bottom0">Plans</h4>
        {{/link-to}}
      </li>
      <li class="complete">
        {{#link-to "plans.cart" model}}
          <i class="fa fa-check fa-2x"></i>
          <h4 class="spacing-bottom0">Cart</h4>
        {{/link-to}}
      </li>
      <li class="active">
        <span>
          <i class="fa fa-credit-card fa-2x"></i>
          <h4 class="spacing-bottom0">Payment</h4>
        </span>
      </li>
    </ul>
  </div>
  <div class="pad4">
    <div class="spacing-bottom-4 text-center">
      <h2>Complete your payment!</h2>
    </div>
    <div class="scope-content">
      {{stripe-checkout
        class="btn btn-primary"
        image="/logo.svg"
        name="AuthMaker"
        description=model.stripePlan.name
        amount=model.stripePlan.amount
        currency=model.stripePlan.currency
        label="Subscribe now"
        panelLabel="Subscribe & Pay"
        isDisabled=payButtonDisabled
        action="processStripeToken"
      }}
      <div class="alertbox form-group"></div>
      <span class="payment-errors"></span>
      <div class="alert alert-info text-small">
        <div class="checkbox spacing0">
          <label>
            {{view Ember.Checkbox checkedBinding="terms"}}
            I have read and accept the <a class="alert-link" href="" target="_blank">privacy statement</a>.
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
