<div class="frame">
  <div class="oauth-scopes-nav">
    <ul class="nav-tabs nav-justified text-center">
      <li class="active">
        <span>
          <i class="fa fa-list fa-2x"></i>
          <h4 class="spacing-bottom0">Plans</h4>
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-credit-card fa-2x"></i>
          <h4 class="spacing-bottom0">Payment</h4>
        </span>
      </li>
    </ul>
  </div>
  <div class="text-center">
    <h2>Select your plan</h2>
    <p>Please select a plan to subscribe to.</p>
  </div>
  <div class="scope-content row flex flex-wrap pad4">
    {{#each model as |plan|}}
      <div class="col-xs-12 col-sm-6 flex spacing-bottom2">
        {{plan-item plan=plan showPaidOnly=application.model.showPaidOnly}}
      </div>
    {{/each}}
  </div>
</div>
