{{#blooie-modal title="Error" close='close'}}
  <div class="modal-body">
    <img src="/images/loading.svg"></img>
    <h3>Error</h3>
    <p>An Error has occured</p>
    <p>{{view.error_message}}</p>
  </div>
{{/blooie-modal}}
